body,html
{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    

    background: url(https://github.com/pyaran/dukke-startUp/blob/main/images/laptop.jpg?raw=true) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1
{
    color: rgb(32, 27, 19);
    font-size: 3rem;
    margin-top: 2px;
}
hr
{
    margin: revert;
    height: 2px;
    border-radius: 5px;
    border: 1px solid red;
    max-width: 80px;

}
.btn-style
{
    padding: 1rem 2rem;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgb(36, 12, 12);
    border-color: rgb(36, 12, 12);
    
}
.btn-style:hover
{
    background-color: rgb(61, 35, 35);
    border-color: rgb(61, 35, 35);

    transform: scale(1.02);
}
.buffer
{
    height: 600px;
}

